
 <div class="container">
 <%= image_tag("image1.jpg", height: 400, width: 900, alt: "self care image") %>
 <div class="text-block">
 <h1>Welcome</h1>
 <h2 style="color:purple">To <span style="color:MediumVioletRed">Selfe Care</span> Applcation</h2>
</div>
</div>










