<div class="selfCareInfo">
<h1>Slfe Care Information</h1>
<p>Self-care is any activity that we do deliberately in order  </p>
<p>to take care of our mental, emotional, and physical health. </p>
<p>Although it's a simple concept in theory, it's something we very </p>
<p>often overlook.Good self-care is key  </p>
<p>to improved mood and   </p>

</div>

